div.loader {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.2%;
}

.slide {
  background-color: #0f1111;
  width: 10px;
}

.slide1 {
  animation: loader 1s ease 0s infinite alternate;
}

.slide2 {
  animation: loader 1s ease 0.2s infinite alternate;
}

.slide3 {
  animation: loader 1s ease 0.3s infinite alternate;
}

.slide4 {
  animation: loader 1s ease 0.4s infinite alternate;
}

@keyframes loader {
  from {
      height: 40px;
  }
  to {
      height: 60px;
  }
}
